In [2]:
# Trusted Connection to Named Instance
import pyodbc

In [10]:
connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-DMKI1PA\SQLEXPRESS;DATABASE=Adam_EDW;Trusted_Connection=yes;')

In [4]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [5]:
base_url = 'https://understat.com/league/EPL/2020'

In [6]:
#Use requests to get the webpage and BeautifulSoup to parse the page ##

## I have already scraped 2006 to 2020 premier league data from website##
##Here is an example of scraping ## 
##I will then append this dataset to my Originally scraped datset ##

## I wanted to test myself by exploring with the data and finding differnt ways to clean and transform it. ##

res = requests.get(base_url)
soup = BeautifulSoup(res.content, 'lxml')
divs = soup.find_all("div")

In [8]:
scripts = soup.find_all('script')

In [9]:
strings = scripts[1].string

In [11]:
#Strip Symbols so I only have Json data ##
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')

#convert string to json format
data = json.loads(json_data)

In [12]:
pd.Series(data[0],)

id                                                      14086
isResult                                                 True
h           {'id': '228', 'title': 'Fulham', 'short_title'...
a           {'id': '83', 'title': 'Arsenal', 'short_title'...
goals                                    {'h': '0', 'a': '3'}
xG                          {'h': '0.126327', 'a': '2.16287'}
datetime                                  2020-09-12 11:30:00
forecast        {'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}
dtype: object

In [13]:
df = pd.DataFrame(columns=["id", "isResult" ,"h", "a", 'goals', 'xG', 'datetime', 'forecast'])

In [14]:
##Creating the Data Frame using a for loop
for i in range(0,len(data)) :
    currentItem = data[i]
    df.loc[i] = [data[i]["id"], data[i]["isResult"],data[i]["h"],data[i]["a"],data[i]["goals"],data[i]["xG"],data[i]["datetime"],data[i]["forecast"]]

In [15]:
df

,id,isResult,h,a,goals,xG,datetime,forecast
0,14086,True,"{'id': '228', 'title': 'Fulham', 'short_title'...","{'id': '83', 'title': 'Arsenal', 'short_title'...","{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}"
1,14087,True,"{'id': '78', 'title': 'Crystal Palace', 'short...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}"
2,14090,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '245', 'title': 'Leeds', 'short_title':...","{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}"
3,14091,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '86', 'title': 'Newcastle United', 'sho...","{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}"
4,14092,True,"{'id': '76', 'title': 'West Bromwich Albion', ...","{'id': '75', 'title': 'Leicester', 'short_titl...","{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}"
...,...,...,...,...,...,...,...,...
375,14810,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '78', 'title': 'Crystal Palace', 'short...","{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}"
376,14811,True,"{'id': '88', 'title': 'Manchester City', 'shor...","{'id': '72', 'title': 'Everton', 'short_title'...","{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}"
377,14812,True,"{'id': '238', 'title': 'Sheffield United', 'sh...","{'id': '92', 'title': 'Burnley', 'short_title'...","{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}"
378,14813,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}"
379,14814,True,"{'id': '229', 'title': 'Wolverhampton Wanderer...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}"

In [16]:
columnsplit=df['h'].apply(pd.Series)

In [17]:
columnsplit['title']

0                       Fulham
1               Crystal Palace
2                    Liverpool
3                     West Ham
4         West Bromwich Albion
                ...
375                  Liverpool
376            Manchester City
377           Sheffield United
378                   West Ham
379    Wolverhampton Wanderers
Name: title, Length: 380, dtype: object

In [18]:
df['Home_Club'] = columnsplit['title']

In [20]:
columnsplitaway=df['a'].apply(pd.Series)
columnsplitaway['title']
df['Away_Club'] = columnsplitaway['title']

In [22]:
new_df = df[['Home_Club', 'Away_Club', 'goals', 'xG', 'datetime', 'forecast']]

In [24]:
new_df

,Home_Club,Away_Club,goals,xG,datetime,forecast
0,Fulham,Arsenal,"{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}"
1,Crystal Palace,Southampton,"{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}"
2,Liverpool,Leeds,"{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}"
3,West Ham,Newcastle United,"{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}"
4,West Bromwich Albion,Leicester,"{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}"
...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,"{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}"
376,Manchester City,Everton,"{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}"
377,Sheffield United,Burnley,"{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}"
378,West Ham,Southampton,"{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}"
379,Wolverhampton Wanderers,Manchester United,"{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}"

In [32]:
splitgoals = new_df['goals'].apply(pd.Series)

In [33]:
home_goals= splitgoals['h']
away_goals= splitgoals['a']
new_df['home_goals'] = home_goals
new_df['away_goals'] = away_goals

In [27]:
splitxG = new_df['xG'].apply(pd.Series)

In [35]:
xHomeG= splitxG['h']
xAwayG= splitxG['a']
new_df['xHomeG'] = xHomeG
new_df['xAwayG'] = xAwayG

In [36]:
new_df

,Home_Club,Away_Club,goals,xG,datetime,forecast,home_goals,away_goals,xHomeG,xAwayG
0,Fulham,Arsenal,"{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}",0,3,0.126327,2.16287
1,Crystal Palace,Southampton,"{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}",1,0,1.39569,1.26267
2,Liverpool,Leeds,"{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}",4,3,3.15412,0.269813
3,West Ham,Newcastle United,"{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}",0,2,0.861445,1.65911
4,West Bromwich Albion,Leicester,"{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}",0,3,0.352997,2.95581
...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,"{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}",2,0,2.20348,0.772317
376,Manchester City,Everton,"{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}",5,0,2.88355,1.07258
377,Sheffield United,Burnley,"{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}",1,0,0.420006,0.558508
378,West Ham,Southampton,"{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}",3,0,1.98344,1.35179
379,Wolverhampton Wanderers,Manchester United,"{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}",1,2,0.701256,2.05229

In [38]:
splitForecast = new_df['forecast'].apply(pd.Series)

In [40]:
winforecast= splitForecast['w']
loseforecast= splitForecast['l']
drawforecast= splitForecast['d']

new_df['winforecast'] = winforecast
new_df['loseforecast'] = loseforecast
new_df['drawforecast'] = drawforecast

In [41]:
new_df

,Home_Club,Away_Club,goals,xG,datetime,forecast,home_goals,away_goals,xHomeG,xAwayG,winforecast,loseforecast,drawforecast
0,Fulham,Arsenal,"{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}",0,3,0.126327,2.16287,0.0037,0.9487,0.0476
1,Crystal Palace,Southampton,"{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}",1,0,1.39569,1.26267,0.3916,0.3062,0.3022
2,Liverpool,Leeds,"{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}",4,3,3.15412,0.269813,0.9658,0.0046,0.0296
3,West Ham,Newcastle United,"{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}",0,2,0.861445,1.65911,0.1506,0.6014,0.248
4,West Bromwich Albion,Leicester,"{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}",0,3,0.352997,2.95581,0.007,0.9572,0.0358
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,"{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}",2,0,2.20348,0.772317,0.7516,0.0754,0.173
376,Manchester City,Everton,"{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}",5,0,2.88355,1.07258,0.7906,0.0611,0.1483
377,Sheffield United,Burnley,"{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}",1,0,0.420006,0.558508,0.2153,0.3177,0.467
378,West Ham,Southampton,"{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}",3,0,1.98344,1.35179,0.5303,0.236,0.2337
379,Wolverhampton Wanderers,Manchester United,"{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}",1,2,0.701256,2.05229,0.0767,0.7508,0.1725

In [50]:
df = new_df[['Home_Club', 'Away_Club', 'home_goals', 'away_goals','datetime' ,'xHomeG', 'xAwayG', 'winforecast', 'loseforecast', 'drawforecast']]

In [51]:
df.head

<bound method NDFrame.head of                    Home_Club          Away_Club home_goals away_goals  \
0                     Fulham            Arsenal          0          3
1             Crystal Palace        Southampton          1          0
2                  Liverpool              Leeds          4          3
3                   West Ham   Newcastle United          0          2
4       West Bromwich Albion          Leicester          0          3
..                       ...                ...        ...        ...
375                Liverpool     Crystal Palace          2          0
376          Manchester City            Everton          5          0
377         Sheffield United            Burnley          1          0
378                 West Ham        Southampton          3          0
379  Wolverhampton Wanderers  Manchester United          1          2

                datetime    xHomeG    xAwayG winforecast loseforecast  \
0    2020-09-12 11:30:00  0.126327   2.16287      0.0037       0.9487
1    2020-09-12 14:00:00   1.39569   1.26267      0.3916       0.3062
2    2020-09-12 16:30:00   3.15412  0.269813      0.9658       0.0046
3    2020-09-12 19:00:00  0.861445   1.65911      0.1506       0.6014
4    2020-09-13 13:00:00  0.352997   2.95581       0.007       0.9572
..                   ...       ...       ...         ...          ...
375  2021-05-23 15:00:00   2.20348  0.772317      0.7516       0.0754
376  2021-05-23 15:00:00   2.88355   1.07258      0.7906       0.0611
377  2021-05-23 15:00:00  0.420006  0.558508      0.2153       0.3177
378  2021-05-23 15:00:00   1.98344   1.35179      0.5303        0.236
379  2021-05-23 15:00:00  0.701256   2.05229      0.0767       0.7508

    drawforecast
0         0.0476
1         0.3022
2         0.0296
3          0.248
4         0.0358
..           ...
375        0.173
376       0.1483
377        0.467
378       0.2337
379       0.1725

[380 rows x 10 columns]>

In [52]:
##Creating the record
df.loc[df['home_goals'] > df['away_goals'], 'RESULT'] = 'H'
df.loc[df['home_goals'] == df['away_goals'], 'RESULT'] = 'D'
df.loc[df['home_goals'] < df['away_goals'], 'RESULT'] = 'A'

C:\Users\Adam\anaconda3.1\envs\fluffy1\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\Adam\anaconda3.1\envs\fluffy1\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [53]:
df

,Home_Club,Away_Club,home_goals,away_goals,datetime,xHomeG,xAwayG,winforecast,loseforecast,drawforecast,RESULT
0,Fulham,Arsenal,0,3,2020-09-12 11:30:00,0.126327,2.16287,0.0037,0.9487,0.0476,A
1,Crystal Palace,Southampton,1,0,2020-09-12 14:00:00,1.39569,1.26267,0.3916,0.3062,0.3022,H
2,Liverpool,Leeds,4,3,2020-09-12 16:30:00,3.15412,0.269813,0.9658,0.0046,0.0296,H
3,West Ham,Newcastle United,0,2,2020-09-12 19:00:00,0.861445,1.65911,0.1506,0.6014,0.248,A
4,West Bromwich Albion,Leicester,0,3,2020-09-13 13:00:00,0.352997,2.95581,0.007,0.9572,0.0358,A
...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,2,0,2021-05-23 15:00:00,2.20348,0.772317,0.7516,0.0754,0.173,H
376,Manchester City,Everton,5,0,2021-05-23 15:00:00,2.88355,1.07258,0.7906,0.0611,0.1483,H
377,Sheffield United,Burnley,1,0,2021-05-23 15:00:00,0.420006,0.558508,0.2153,0.3177,0.467,H
378,West Ham,Southampton,3,0,2021-05-23 15:00:00,1.98344,1.35179,0.5303,0.236,0.2337,H
379,Wolverhampton Wanderers,Manchester United,1,2,2021-05-23 15:00:00,0.701256,2.05229,0.0767,0.7508,0.1725,A

In [56]:
pd.DataFrame(df)

,Home_Club,Away_Club,home_goals,away_goals,datetime,xHomeG,xAwayG,winforecast,loseforecast,drawforecast,RESULT
0,Fulham,Arsenal,0,3,2020-09-12 11:30:00,0.126327,2.16287,0.0037,0.9487,0.0476,A
1,Crystal Palace,Southampton,1,0,2020-09-12 14:00:00,1.39569,1.26267,0.3916,0.3062,0.3022,H
2,Liverpool,Leeds,4,3,2020-09-12 16:30:00,3.15412,0.269813,0.9658,0.0046,0.0296,H
3,West Ham,Newcastle United,0,2,2020-09-12 19:00:00,0.861445,1.65911,0.1506,0.6014,0.248,A
4,West Bromwich Albion,Leicester,0,3,2020-09-13 13:00:00,0.352997,2.95581,0.007,0.9572,0.0358,A
...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,2,0,2021-05-23 15:00:00,2.20348,0.772317,0.7516,0.0754,0.173,H
376,Manchester City,Everton,5,0,2021-05-23 15:00:00,2.88355,1.07258,0.7906,0.0611,0.1483,H
377,Sheffield United,Burnley,1,0,2021-05-23 15:00:00,0.420006,0.558508,0.2153,0.3177,0.467,H
378,West Ham,Southampton,3,0,2021-05-23 15:00:00,1.98344,1.35179,0.5303,0.236,0.2337,H
379,Wolverhampton Wanderers,Manchester United,1,2,2021-05-23 15:00:00,0.701256,2.05229,0.0767,0.7508,0.1725,A

In [60]:
import os
root = 'C:/Users/Adam/Desktop/Data_Engineering_DropFolder/'
os.path.join(root, 'epl_data20.csv')

'C:/Users/Adam/Desktop/Data_Engineering_DropFolder/epl_data20.csv'

In [61]:
df.to_csv(os.path.join(root, 'epl_data20.csv'))

In [62]:
for col in df.columns:
    print(col)

Home_Club
Away_Club
home_goals
away_goals
datetime
xHomeG
xAwayG
winforecast
loseforecast
drawforecast
RESULT

In [68]:

cursor = connection.cursor()
##data = pd.read_csv (r'C:/Users/Adam/Desktop/Data_Engineering_DropFolder/epl_data20.csv')   
##df = pd.DataFrame(data)

# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute('''INSERT INTO EPL_data_Stage (Home_Club,Away_Club,home_goals,away_goals,datetime,xHomeG,xAwayG,winforecast,loseforecast,drawforecast,RESULT) values(?,?,?,?,?,?,?,?,?,?,?)'''
                    ,row.Home_Club,
                    row.Away_Club,
                    row.home_goals,
                    row.away_goals,
                    row.datetime,
                    row.xHomeG,
                    row.xAwayG,
                    row.winforecast,
                    row.loseforecast,
                    row.drawforecast,
                    row.RESULT)
connection.commit()
cursor.close()

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]String or binary data would be truncated in table 'Adam_EDW.dbo.EPL_data_Stage', column 'Home_Club'. Truncated value: 'F'. (2628) (SQLExecDirectW); [42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")